In [2]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.3.3-cp313-cp313-macosx_11_0_arm64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.3.5-cp313-cp313-macosx_14_0_arm64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/joebinpetersoosairaj/retailx_env/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.7 in /Users/joebinpetersoosairaj/retailx_env/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/joebinpetersoosairaj/retailx_env/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.3-cp313-cp313-macosx_11_0_arm64.whl (10.7 MB)
Using cached numpy-2.3.5-cp313-cp313-macosx_14_0_arm64.whl (5.1 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Installing collected packages: pytz, numpy, pandas
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 3/3 [pandas]‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 2/3 [pandas]
Successfully installed numpy-2.3.5 pandas-2.3.3 pytz-2025.2

In [10]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.44-cp313-cp313-macosx_11_0_arm64.whl.metadata (9.5 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/joebinpetersoosairaj/retailx_env/lib/python3.13/site-packages (from sqlalchemy) (4.15.0)
Downloading sqlalchemy-2.0.44-cp313-cp313-macosx_11_0_arm64.whl (2.1 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 2.1/2.1 MB 6.1 MB/s  0:00:00m 7.2 MB/s eta 0:00:01
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-2.0.44

In [11]:
import sqlalchemy
print(sqlalchemy.__version__)

2.0.44

In [12]:
import pandas as pd
from sqlalchemy import create_engine

DB_URL = "postgresql://retailreport_user:R0gDiq4XVoQuPbaUkoKo6YVsqUolrvVW@dpg-d4m9jl2dbo4c73aia180-a.virginia-postgres.render.com/retailreport"

try:
    engine = create_engine(DB_URL)
    conn = engine.connect()
    print("üü¢ Connected to Render Postgres successfully!")
    
    df = pd.read_sql("SELECT NOW();", conn)
    print(df)

except Exception as e:
    print("‚ùå Connection failed:", e)

üü¢ Connected to Render Postgres successfully!
                               now
0 2025-12-01 04:54:25.178754+00:00

In [14]:
sql = """
SELECT
    TO_CHAR(TO_DATE(orderdate::text, 'YYYYMMDD'), 'YYYY-MM') AS month,
    SUM(p.productunitprice * od.quantityordered) AS total_revenue
FROM
    OrderDetail od
JOIN
    Customer c ON od.customerid = c.customerid
JOIN
    Country co ON c.countryid = co.countryid
JOIN
    Region r ON co.regionid = r.regionid
JOIN
    Product p ON od.productid = p.productid
GROUP BY
    month
ORDER BY
    month
LIMIT 100;
"""

df = pd.read_sql(sql, conn)
df

      month  total_revenue
0   2012-07   12220.250011
1   2012-08    6569.900018
2   2012-09    4141.999981
3   2012-10    4634.700013
4   2012-11    3664.700039
5   2012-12    1287.250000
6   2013-01     997.459999
7   2013-02     377.379997
8   2013-03     183.999996
9   2013-04     334.999996
10  2013-05     399.000000
11  2013-06     190.000000
12  2013-07     120.000000
13  2013-08    1139.999962
14  2013-09     214.500008
15  2013-10     292.799995
16  2013-11      52.350002
17  2014-01     150.000000
18  2015-07     139.600006
19  2015-12    1955.000000